@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Bold.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Bold.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Thin.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Thin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Thin.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Thin.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Light.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Light.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Regular.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Regular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Regular.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Medium.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Medium.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-SemiBold.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-SemiBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-ExtraBold.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-ExtraBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-ExtraBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Black.eot");
  src: url("/assets/fonts/eot/KalamehWeb(FaNum)-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/assets/fonts/woff/KalamehWeb(FaNum)-Black.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/woff2/KalamehWeb(FaNum)-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/ttf/Kalameh(FaNum)-Black.ttf") format("truetype");
}
