.search {
  padding: 32px;
  height: 100%;
  overflow-y: auto;

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.search-table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;

  &__wrapper {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 32px;
  }

  thead {
    background-color: #e6e7e8;
    border-radius: 8px;
  }

  th,
  td {
    padding: 8px 16px;
  }

  tr {
    border-bottom: 1px solid #acacac;
  }

  tr:last-child {
    border-bottom: none;
  }
}
